.swap-touch-select
.page2.wrapper.slide-light
    .container
        .column.column__1x
        .column.column__1x
        .column.column__1x
        .column.column__1x
            .row.row__1x.row2fix

            .row.row__1x(
            data-swiper-parallax="-100"
            v-on:click="showModal('popup4')"
            )
            .row.row__1x(
            data-swiper-parallax="-100"
            v-on:click="showModal('popup5')"
            )
            .row.row__1x(
            data-swiper-parallax="-100"
            v-on:click="showModal('popup6')"
            )
