.sidebar1.sidebar-wrapper.swiper-no-swiping(
v-bind:class="{ 'sidebar-container_active': this.modals.sidebar1.active }"
)

    .sidebar-container
        .sidebar__block-with-scroll
            .title Куру
            .text Куру находится всего в 500 км от экватора Земли, что делает его практически идеальным местом для запуска тяжелых спутников на орбиту в любых направлениях. Достоинство приэкваториального космодрома не только в том, что запуску помогает вращение Земли, но и в том, что нет необходимости в  орбитальном манёвре – а это требует много топлива и сильно снижает вес полезной нагрузки.
            .text.testsubold Куру – очень безопасный космодром, ведь Французская Гвиана слабо заселена, а её территория почти на 90% покрыта влажными тропическими лесами. Кроме того, страна не подвержена землетрясениям, ураганами другим разрушительным природным стихиям.
            .enable-glow
                img(src="./img/objects/raketa.jpg")
    .sidebar-close-container(v-on:click="closeModal('sidebar1')")